/lab1/makefile
/lab2/makefile
/lab3/makefile
/lab4/makefile
/lab8/makefile
/lab9/makefile
/lab16/makefile
/lab21/makefile
/lab25/makefile

/test
/lab3/data_file
/lab8/file
/lab8/source
/lab21/test
/lab21/incorrect

related questions.txt